.progressLine {
  width: 100%;
  padding: 20px 0;
  min-height: 100px;
  height: 100px;
  position: relative;
  overflow: visible;
}

.progressLineLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0;
}

.progressLineLine::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 3px;
  background: #8E7A63;
  z-index: 1;
  transform: translateY(-50%);
}

.progressLinePoint {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease;
  flex: 1;
  min-height: 100px;
  height: 100px;
}

.progressLinePointActive {
  transition: all 0.3s ease;
}

.progressLineLabel {
  position: absolute;
  top: -60px;
  left: 50%;
  max-width: 400px;
  min-height: 40px;
  background: transparent;
  color: #BFA282;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  pointer-events: auto;
  cursor: pointer;
  word-wrap: break-word;
  white-space: normal;
  width: max-content;
  font-family: 'Anticva', serif;
  border: 1px solid transparent;
}

.progressLinePointActive .progressLineLabel {
  border: 1px solid #BFA282;
  background: rgb(191, 162, 130, 20%);
  transition: all 0.3s ease;
}

.progressLineDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #8E7A63;
  transition: all 0.3s ease;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.progressLinePointActive .progressLineDot {
  width: 22px;
  height: 22px;
  background: #BFA282;
  transform: translate(-50%, -50%);
}

